// colors
$white :white;
$blue:blue;
$light_blue :#e8f6fc;
$light_cyan: lightcyan;
$raspberry:#d31c3d;
$grey:grey;
$smoth_grey:#e6e1e1;
$lightgray:lightgray;
$gold: goldenrod;
$light_gold:#ffffcc;
$purple:#f1c6e0;
$light_purple:#f1c6e0;

//border
$gray_border:1px solid gray;